extends layout

block content
  h1= title

  ul
  each author in author_list
    li
      a(href=author.url) #{author.name}
      | (#{author.Author_lifespan}<!--#{author.date_back_formatted} - #{author.death_back_formatted}-->)

  else
    li There are no authors.
